<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Queue - Stats</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> Stats </h1>

      <div>Total slots: <b>{{ totalSlots }}</b></div>
      <div>Total free slots: <b>{{ totalFree }}</b></div>
      <div>Total tickets in queue: <b>{{ totalQueue }}</b></div>
      <div>Total usage: <b>{{ totalUsage }}%</b></div>

      <br />

      <span>Stations ({{ stations.length }}):</span>

      <br />

      <div>
        @each((station, index) in stations)
          <div>
            {{ index + 1}}. <b>{{ station.id }}</b> - {{ station.inQueue }} / {{ station.free }} ({{ station.usage }}%)
          </div>
        @end
      </div>
    </div>
  </main>

</body>
</html>
